@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');



.nav_section {
    display: flex;
   justify-content: space-around;
}
.logo {
    font-family: "Azeret Mono", monospace;
    font-size: 28px;
    font-weight: 700;
}

.resume_btn {
    padding: 17px 24px;
    border: 1px solid #0D1321;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.banner {
    background-image: url(assets/Hero-bg.png);
    padding: 30px 0;
    margin-bottom: 30px;
}

.banner_items {
    text-align: center;
    width: 980px;
    margin: auto;
}
.banner_items img {
    width: 240px;
    height: 240px;
}
.banner_title {
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 700;
}

.banner_btn {
    background-color: #0D1321;
    border: 1px solid #0D1321;
    border-radius: 5px;
    padding: 21px 24px;
    font-size: 20px;
    color: white;
    font-family: "Azeret Mono", monospace;
    cursor: pointer;
    text-decoration: none;
}
.text {
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
    line-height: 25px;
}

.why-web-development {
    width: 1140px;
    margin: auto;
    background-color: #0d132108;
    border-radius: 16px;
    padding: 20px 0;
}
.why-web {
    text-align: center;
}

.title {
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 700;
}
.why-web-first-section, .why-web-second-section, .why-web-third-section {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 857px;
    margin: auto;
    padding: 48px;
    border-radius: 16px;
    margin-bottom: 30px;
}
.section-title, .box-title {
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 500;
}
.section_btn {
    padding: 12px 20px;
    border: 1px solid #0D1321;
    border-radius: 5px;
    background-color: white;
}
.section-box {
    width: 477px;
}
/* inspiration section */

.my-inspiration {
    width: 1140px;
    margin: auto;
    border-radius: 16px;
    padding: 20px 0;
}
.content {
    text-align: center;
}
iframe {
    position: absolute;
}
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
    margin: 1em 0;
    border-radius: 16px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box-section {
    width: 1140px;
    margin: auto;
    border-radius: 16px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}
.box {
    width: 364px;
    border-radius: 16px;
    padding: 30px;
    margin-right: 20px;
}

.box-url {
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.box-1 {
    background-color: #FFF6F4;
}
.box-2 {
    background-color: #F2F6FE;
}
.box-3 {
    background-color: #FFFDF2;
}
/* form */
.form {
    background-image: url(assets/handshake.jpg);
    width: 1140px;
    margin: auto;
    border-radius: 16px;
    padding: 20px 0;
    background-position: center;
    margin-top: 30px;


}
.form input[type="text"] {
    padding: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: "Azeret Mono", monospace;
    width: 548px;
    height: 45px;
}

.form button {
    padding: 0.5em;
    background-color: white;
    color: black;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Azeret Mono", monospace;
    width: 120px;
    height: 57px;
}
.color {
    color: white;
}

/* footer */

#footer {
background-color: #F8F8F8;
padding: 10px 0;
margin-top: 30px;
}
.footer-section {
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.social a {
    padding-right: 10px;
}